[Container]
AutoUpdate=registry
ContainerName=%N
Image=docker.io/henrygd/beszel-agent:latest
Network=host
Secret=beszel-agent-hub-url,type=env,target=HUB_URL
Secret=beszel-agent-key,type=env,target=KEY
Secret=beszel-agent-token,type=env,target=TOKEN
User=1000:1000
Volume=%S/%N:/var/lib/beszel-agent
Volume=%t/podman/podman.sock:%t/podman/podman.sock:ro

[Service]
Restart=always
StateDirectory=%N

[Install]
WantedBy=default.target
