[Container]
AutoUpdate=registry
ContainerName=%N
Environment=KEY_FILE=/run/secrets/key
Environment=LISTEN=45876
Environment=SKIP_GPU=true
Environment=TOKEN_FILE=/run/secrets/token
GroupAdd=%G
HealthCmd=/agent health
HealthInterval=120s
Image=docker.io/henrygd/beszel-agent:alpine
Secret=beszel-agent-hub-url,type=env,target=HUB_URL
Secret=beszel-agent-key,target=key
Secret=beszel-agent-token,target=token
User=%U:%G
UserNS=keep-id:uid=%U,gid=%G
Volume=%t/podman/podman.sock:%t/podman/podman.sock:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=beszel-agent.volume:/var/lib/beszel-agent

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
