[Container]
ContainerName=%N
DropCapability=NET_RAW
HealthCmd=redis-cli ping || exit 1
Image=docker.io/valkey/valkey@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9
Network=immich-redis.network
NoNewPrivileges=yes
User=1000:1000
Volume=immich-redis.volume:/data:U,Z

[Service]
Restart=always
