[Container]
ContainerName=%N
HealthCmd=redis-cli ping || exit 1
Image=docker.io/valkey/valkey@sha256:facc1d2c3462975c34e10fccb167bfa92b0e0dbd992fc282c29a61c3243afb11
Pod=immich.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
