[Container]
ContainerName=%N
DropCapability=NET_RAW
Image=ghcr.io/immich-app/immich-machine-learning:v2.5.6
Network=immich-machine-learning.network
NoNewPrivileges=yes
User=1000:1000
Volume=immich-model-cache.volume:/cache

[Service]
Restart=always

[Install]
WantedBy=default.target
