[Container]
ContainerName=%N
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Image=ghcr.io/immich-app/postgres@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
Pod=immich.pod
ShmSize=128mb
Volume=%D/immich/postgres:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
