[Unit]
Requires=immich-redis.service immich-database.service
After=immich-redis.service immich-database.service

[Container]
ContainerName=%N
DropCapability=NET_RAW
Environment=DB_HOSTNAME=immich-database
Environment=IMMICH_HELMET_FILE=true
Environment=REDIS_HOSTNAME=immich-redis
HealthCmd=/usr/bin/curl -fSs http://localhost:2283/api/server/ping
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=ghcr.io/immich-app/immich-server:v2.7.3
Network=immich-database.network
Network=immich-machine-learning.network
Network=immich-redis.network
Network=podman
NoNewPrivileges=yes
PublishPort=2283:2283/tcp
Secret=tz,type=env,target=TZ
User=1000:1000
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
