[Container]
ContainerName=%N
DropCapability=NET_RAW
HealthCmd=redis-cli ping || exit 1
Image=docker.io/valkey/valkey@sha256:4963247afc4cd33c7d3b2d2816b9f7f8eeebab148d29056c2ca4d7cbc966f2d9
Network=immich-redis.network
NoNewPrivileges=yes
User=1000:1000
Volume=immich-redis.volume:/data:U,Z

[Service]
Restart=always
