[Unit]
Requires=qbittorrent.service
After=qbittorrent.service

[Container]
AutoUpdate=registry
ContainerName=%N
Image=ghcr.io/autobrr/qui:latest
Network=qbittorrent.network
PublishPort=7476:7476/tcp
User=1000:1000
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
