[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Environment=WEBUI_PORTS=6767/tcp
Image=ghcr.io/hotio/bazarr:release
Pod=jellyfin.pod
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
