[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Environment=WEBUI_PORTS=6767/tcp
Image=lscr.io/linuxserver/bazarr:latest
Network=bazarr.network
PublishPort=6767:6767/tcp
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config:U,Z

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
