[Container]
ContainerName=%N
Image=ghcr.io/raydak-labs/configarr:latest
Pod=jellyfin.pod
Pull=newer
Secret=tz,type=env,target=TZ
User=1000:1000
Volume=%E/%N:/app/config
Volume=%C/%N:/app/repos

[Service]
CacheDirectory=%N
ConfigurationDirectory=%N
Type=oneshot
