[Container]
AutoUpdate=registry
ContainerName=%N
Environment=LOG_LEVEL=debug
Environment=PORT=5225
Environment=UMASK=022
HealthCmd=/usr/bin/curl -f http://localhost:5225/ping
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=ghcr.io/roziscoding/jack:main
Network=jack.network
Network=traefik.network
PublishPort=5225:5225/tcp
Secret=jack-api-key
Secret=radarr-api-key
Secret=sonarr-api-key
Secret=tz,type=env,target=TZ
User=1000:1000
Volume=%E/%N:/config:U,Z
Volume=jack.volume:/data/jack:U,Z

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
