[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
HealthCmd=/usr/bin/curl -f http://localhost:8096/health
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=lscr.io/linuxserver/jellyfin:latest
Network=jellyfin.network
Network=podman
PublishPort=7359:7359/udp
PublishPort=8096:8096/tcp
Secret=tz,type=env,target=TZ
Volume=%C/%N:/cache
Volume=%E/%N:/config

[Service]
CacheDirectory=%N
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
