[Unit]
Wants=radarr.service sonarr.service
After=radarr.service sonarr.service

[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
HealthCmd=/usr/bin/curl -fSs http://localhost:9696/ping
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=lscr.io/linuxserver/prowlarr:latest
Network=prowlarr.network
PublishPort=9696:9696/tcp
Secret=tz,type=env,target=TZ
Sysctl=net.ipv6.conf.all.disable_ipv6=1
Volume=%E/%N:/config:U,Z

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
