[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Image=ghcr.io/hotio/radarr:release
Pod=jellyfin.pod
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
