[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
HealthCmd=/usr/bin/curl -f http://localhost:7878/ping
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=lscr.io/linuxserver/radarr:latest
Pod=jellyfin.pod
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
