[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Image=lscr.io/linuxserver/sonarr:latest
Pod=jellyfin.pod
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
