[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
HealthCmd=/usr/bin/curl -fSs http://localhost:8989/ping
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=3s
Image=lscr.io/linuxserver/sonarr:latest
Network=bazarr.network
Network=jellyfin.network
Network=prowlarr.network
PublishPort=8989:8989/tcp
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config:U,Z

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
