[Unit]
Wants=qbittorrent.service
After=qbittorrent.service

[Container]
AutoUpdate=registry
ContainerName=%N
Exec=daemon
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Image=ghcr.io/cross-seed/cross-seed:6
Network=qbittorrent.network
User=1000:1000
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
