[Unit]
Requires=dump1090.service
After=dump1090.service

[Container]
AutoUpdate=registry
ContainerName=%N
Image=ghcr.io/ranisalt/piaware:latest
Network=dump1090.network
Volume=%E/%N/piaware.conf:/etc/piaware.conf

[Service]
ConfigurationDirectory=%N
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
