[Container]
AutoUpdate=registry
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Image=lscr.io/linuxserver/homeassistant:latest
Network=podman
PublishPort=8123:8123/tcp
Secret=tz,type=env,target=TZ
Volume=%D/%N/custom-init:/custom-cont-init.d:ro
Volume=%E/%N:/config

[Service]
ConfigurationDirectory=%N
Restart=always

[Install]
WantedBy=default.target
