[Container]
AutoUpdate=registry
ContainerName=%N
Image=docker.io/traefik:v3.7
Network=traefik.network
PublishPort=8000:8000/tcp
PublishPort=80:80/tcp
PublishPort=443:443/tcp
Secret=traefik-cf-dns-api-token,type=env,target=CF_DNS_API_TOKEN
Volume=%E/%N:/etc/traefik:ro,U,Z
Volume=%L/%N:/var/log:U,Z
Volume=%S/%N/letsencrypt:/letsencrypt:U,Z
Volume=%S/%N/plugins-storage:/plugins-storage:U,Z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
ConfigurationDirectory=%N
LogsDirectory=%N
Restart=always
RestartSec=5
StateDirectory=%N

[Install]
WantedBy=default.target
