[Container]
AutoUpdate=registry
ContainerName=%N
Image=docker.io/adguard/adguardhome:latest
Network=host
PodmanArgs=--memory=512m
Volume=%E/%N:/opt/adguardhome/conf
Volume=%S/%N:/opt/adguardhome/work

[Service]
ConfigurationDirectory=%N
Restart=always
RestartSec=5
StateDirectory=%N
StateDirectoryMode=0700

[Install]
WantedBy=default.target
