[Container]
ContainerName=%N
Environment=PGID=1000
Environment=PUID=1000
Environment=UMASK=022
Environment=WEBUI_PORTS=5030/tcp,5031/tcp
Image=ghcr.io/hotio/slskd:release
Network=slskd.network
PublishPort=5030:5030/tcp
#PublishPort=5031:5031/tcp
Pull=newer
Secret=tz,type=env,target=TZ
Volume=%E/%N:/config:Z

[Service]
ConfigurationDirectory=%N
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
